.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.direction-column {
    flex-direction: column;
}

/* GRID */

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.6663%;
}

.col-10 {
    width: 83.3333%;
}

.col-9 {
    width: 74.9997%;
}

.col-8 {
    width: 66.6664%;
}

.col-7 {
    width: 58.3331%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.6665%;
}

.col-4 {
    width: 33.3333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.6666%;
}

.col-1 {
    width: 8.3333%;
}